@{
    ViewData["Title"] = "Pawsome Place to Find Us!";
}
<h1>@ViewData["Title"]</h1>

<p>Our superhero vets are just a map click away! Find our clinic easily and discover why we're the top choice for pet care in town.</p>

<ul class="list-group">
    <li class="list-group-item">
        <b>Main Clinic</b><br />
        123 Main Street<br />
        Anytown, CA 12345<br />
        (555) 555-1234
    </li>

    <li class="list-group-item">
        <b>>Westside Branch</b><br />
        456 Elm Street<br />
        Anytown, CA 54321<br />
        (555) 555-5678
    </li>

    <li class="list-group-item">
        <b>Area 51 Alien Center (Not Really)</b><br />
        Extraterrestrial Way, Sector 7<br />
        Groom Lake, NV (We can't disclose the zip code)<br />
        (Classified) - Please don't bring your pets here (Seriously!)
    </li>
</ul>

<div class="map-image">
    <img src="/images/map.png"/>
</div>


