@{
    ViewData["Title"] = "Your Privacy Matters: A Comprehensive Look at Our Practices";
}
<h1>@ViewData["Title"]</h1>

<p>At Veterinary, we understand the importance of protecting your privacy and the confidentiality of your pet's medical information. We are committed to handling your data responsibly and in accordance with all applicable laws and regulations. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information and the information related to your pet's health.</p>

<h2 class="mt-5">Information We Collect</h2>

<p>We may collect various types of information from you and your pet during your interactions with our clinic. This could include:</p>

<ul class="list-group">
    <li class="list-group-item"><strong>Personal Information:</strong> Your name, address, phone number, email address, emergency contact details, and any payment information you provide.</li>
    <li class="list-group-item"><strong>Pet Information:</strong> Your pet's name, species, breed, age, gender, microchip identification (if applicable), vaccination records, medical history, treatment information, and any other relevant details about your pet's health.</li>
    <li class="list-group-item"><strong>Website Usage Data:</strong> When you visit our website, we may collect information about your browsing activity, such as the pages you visit, how long you stay on each page, and the links you click. This information is collected through cookies and other tracking technologies, which are explained further below.</li>
</ul>

<h2 class="mt-5">How We Use Your Information</h2>

<p>The information we collect is used for various purposes that directly relate to providing veterinary care for your pet and improve your experience with our clinic. These purposes may include:</p>

<ul class="list-group">
    <li class="list-group-item">Scheduling appointments and managing your pet's medical records.</li>
    <li class="list-group-item">Providing veterinary services to your pet, including diagnosis, treatment, and communication with specialists (if necessary).</li>
    <li class="list-group-item">Sending appointment reminders, medication reminders, and other important updates regarding your pet's health.</li>
    <li class="list-group-item">Responding to your inquiries and requests.</li>
    <li class="list-group-item">Processing payments for services rendered.</li>
    <li class="list-group-item">Improving our website and services to better meet your needs.</li>
</ul>
