@using Veterinary.Model;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - veterinary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/veterinary.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="bg-primary border-bottom box-shadow text-white p-1">
            <div class="container-fluid d-flex justify-content-between">
                <a class="vet-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/syringe.svg" class="fill-white"/>
                    <b style="color:white">Veterinary</b>
                </a>

                <div class="d-sm-inline-flex justify-content-between">

                    <ul class="flex-grow-1 d-flex gap-5 justify-content-between align-items-center mb-0">
                        <li>
                            <a class="text-white text-decoration-none" asp-route="Location">Location</a>

                        </li>

                        <li>
                            <a class="text-white text-decoration-none" asp-route="privacy">Privacy</a>
                        </li>

                        @if (User.IsInRole(RoleConstants.Doctor) || User.IsInRole(RoleConstants.Apprentice))
                        {
                            <li>
                                <a class="text-white text-decoration-none" asp-area="" asp-controller="Pet" asp-action="Index">Pets</a>
                            </li>

                            <li>
                                <a class="text-white text-decoration-none" asp-area="" asp-controller="Medication" asp-action="Index">Meds</a>
                            </li>

                        }
                    </ul>

                </div>

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="pattern-background pt-5">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - veterinary - <a class="text-white text-decoration-none" asp-route="privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
