@using Microsoft.AspNetCore.Identity
@using Veterinary.Model
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="d-flex gap-3 justify-content-between align-items-center text-decoration-none mb-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn text-white vet-logo"><img src="/images/log-out.svg" class="fill-white" /></button>
            </form>
        </li>
    }
    else
    {
        @* <li>
            <a class="text-white text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li> *@
        <li>
            <a class="text-white text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Employee login</a>
        </li>
    }
</ul>