html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pattern-background {
    flex: 1;
    background-image: url("/images/background.jpg");
    background-repeat: repeat;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
}

.vet-logo{
    color: white;
    text-decoration: none;
    font-size: 20px;

    display: flex;
    align-items:center;
    gap:10px;
}

.vet-logo a:hover {
    color: white;
}

ul{
    list-style: none;
}

.fill-white {
    filter: invert(100%) sepia(97%) saturate(16%) hue-rotate(243deg) brightness(104%) contrast(100%);
}

.map-image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
